@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --clr-primary-900: hsl(229, 23%, 23%);
  --clr-primary-700: hsl(185, 75%, 39%);
  --clr-primary-500: hsl(227, 10%, 46%);
  --clr-neutral-200: hsl(0, 0%, 59%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  font-family: 'Kumbh Sans', sans-serif;

  --fs-primary: 1rem;
  --fw-medium: 700;
  --fw-light: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--clr-primary-700);
  background-image:
    url('../images/bg-pattern-top.svg'),
    url('../images/bg-pattern-top.svg');
  background-repeat: no-repeat;
  background-size: 35rem;
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 350px;
  min-height: 375px;
  background-color: var(--clr-neutral-100);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 40px 100px hsla(229, 23%, 23%, 0.3);
  background-image: url(../images/bg-pattern-card.svg);
  background-position: contain;
  background-repeat: no-repeat;
}

.card-img {
  align-self: center;
  background-image: url(../images/image-victor.jpg);
  background-size: cover;
  width: 6.5625rem;
  height: 6.5625rem;
  border: .375rem solid var(--clr-neutral-100);
  border-radius: 50%;
  margin-top: 5.47rem;
}

main section {
  padding-top: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info {
  display: flex;
}

.user-name {
  font-size: 1.125rem;
  padding-right: .5625rem;
  color: var(--clr-primary-900);
}

.user-age {
  font-size: 1.125rem;
  color: var(--clr-neutral-200);
}

.user-city {
  font-size: .875rem;
  padding: 1rem 0;
  color: var(--clr-neutral-200);
  align-self: center;
}

.card-body {
  border-top: 1px solid rgba(212, 212, 212, 0.808);
  padding: 24.5px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.user-social-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbers {
  font-size: 1.125rem;
  text-transform: uppercase;
}

.text {
  padding-top: .3125rem;
  font-size: .625rem;
  letter-spacing: 1.5px;
}

footer {
  display: block;
  justify-self: center;
  align-self: flex-end;
  position: absolute;
  font-size: 10px;
  text-align: center;
  color: var(--gray-blue);
  margin-bottom: 3px;
}

footer a {
  color: var(--clr-primary-900);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: var(--gray-blue);
}

@media (max-width:376px) {
  body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--clr-primary-700);
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 35vw bottom 50vh, left 40vw top 45vh;
  }

  main {
    width: 326px;
  }

  .card {
    padding: 24.5px 42px;
  }

  .card-body:nth-of-type(2) {
    padding-left: 42px;
  }

  .card-body:last-of-type {
    padding-left: 47px;
  }

  footer {
    display: none;
  }
}